
/* .App changes the entire body of the screen*/
.App {
  background: #210B2C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .header is for a header div that creates a bar at the very top of the screen
    without having to use flexbox to keep it at the top*/
.header {
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid #D8B4E2;
  display: flex;
  align-items: center;
  /* padding: 0 1rem; */
  background: #55286F;
}

/* this is a circular image that stays in the top left of the screen.
    IN FUTURE would love to upload my own logo made for this app and not make it
    enclosed in a circle */
.logo {
  height: 3rem;
  width: 3rem;
  background: url("https://www.pikpng.com/pngl/m/285-2855731_messages-icon-png-chat-icono-png-clipart.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;

}

/* the word CHATTER! in the header*/
.title {
  color: #D8B4E2;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.messages {
  display: flex;
  flex-direction:  column-reverse;
  align-items: flex-start;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
}

.message {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #210B2C;
  background: #D8B4E2;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  min-height: 2rem;
  max-width: 45%;
}


.triangle:before{
  content: "";
  position: absolute;
  border-right: 5px solid #D8B4E2;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #D8B4E2;
  border-top: 5px solid transparent;
  left: -10px;
  top: 20px;
}
