
/* .App changes the entire body of the screen*/
.App {
  background: #210B2C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .header is for a header div that creates a bar at the very top of the screen
    without having to use flexbox to keep it at the top*/
.header {
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid #D8B4E2;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #55286F;
}

/* this is a circular image that stays in the top left of the screen.
    IN FUTURE would love to upload my own logo made for this app and not make it
    enclosed in a circle */
.logo {
  height: 3rem;
  width: 3rem;
  background: url("https://www.pikpng.com/pngl/m/285-2855731_messages-icon-png-chat-icono-png-clipart.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;

}

/* the word CHATTER! in the header*/
.title {
  color: #D8B4E2;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* similar to header, .footer is in a footer div at the bottom of the page */
.footer {
  height: 6rem;
  width: 100%;
  border-top: 2px solid #D8B4E2;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #55286F;
  position: relative;
}

/* allows for users to input their chats */
.text-input {
  width: 100%;
  border: 1px solid  #D8B4E2;
  height: 3rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: #D8B4E2;
  color: #210B2C;
}

/* a button for users to press and send their messages
    IN FUTURE WILL HAVE TO ACTUALLY PRESS AND SEND MESSAGES */
.send {
  background:#210B2C;
  color: #D8B4E2;
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 1.15rem;
  cursor: pointer;
  font-size: 1.15rem;
}
