.id {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2rem;
    padding: 0 1rem;
    color: #D8B4E2;
    font-size: 1rem;
}

.username { 
    position: relative;
    width: 10rem;
    border: 1px solid  #D8B4E2;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    background: #D8B4E2;
    color: #210B2C;
    font-size: 1rem;
}

.button {
    position: relative;
    background:#D8B4E2;
    color: #210B2C;
    border-radius: 1rem;
    border: none;
    height: 2.5rem;
    width: 2.5xsrem;
    cursor: pointer;
}

